//  container = form , form_body = screen_body, screen = form_screen, screen-body-item = form_body--item, app-title = form_title, form_contact = app-contact= app-form, app-form-cotact=form_app_group,
//       app-form-control = form_app_control
//       app-form-button = form_app_button

.contact {
  display: flex;
  min-height: 100vh;
  background-color: $color-pink-dark;
}

.form {
  flex: 0 1 90rem;
  margin: auto;
  padding: 10px;
  font-family: $font-primary;

  &_screen {
    position: relative;
    background: $color-grey-dark;
    border-radius: 15px;

    &::after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      left: 20px;
      right: 20px;
      bottom: 0;
      border-radius: 15px;
      box-shadow: 0 20px 40px rgba(0, 0, 0, 0.4);
      z-index: -1;
    }
  }

  &_body {
    display: flex;

    &--item {
      flex: 1;
      padding: 8rem;
    }
    .left {
      display: flex;
      flex-direction: column;
    }
  }

  &_title {
    display: flex;
    flex-direction: column;
    position: relative;
    color: $color-pink-dark;
    font-size: 3rem;
    &::after {
      content: "";
      display: block;
      position: absolute;
      left: 0;
      bottom: -10px;
      width: 5rem;
      height: 0.5rem;
      background: $color-pink-dark;
    }
  }
  &_contact {
    margin-top: auto;
    font-size: 1.5rem;
    color: $color-grey-light;
  }
  &_app_group {
    margin-bottom: 15px;
    font-family: $font-primary;
    .message {
      margin-top: 40px;
    }
    .button {
      margin-bottom: 0;
      text-align: right;
    }
  }
  &_app_control {
    width: 100%;
    font-family: $font-primary;
    padding: 1.3rem 0;
    background: none;
    border: none;
    border-bottom: 1px solid $color-grey-light;
    color: #ddd;
    font-size: 1.5rem;

    outline: none;
    transition: border-color 0.2s;

    &::placeholder {
      color: $color-grey-light;
    }
    &:focus {
      border-bottom-color: #ddd;
    }
  }

  &_app_button {
    background: none;
    border: none;
    color: $color-pink-dark;
    padding-right: 1rem;
    font-size: 1.4rem;
    cursor: pointer;
    outline: none;
    font-family: $font-primary;
    font-weight: 800;
    &:hover {
      color: $color-pink-dull;
    }
  }
}
.notify {
  font-family: $font-primary !important;
  width: 100%;
  position: absolute;
  font-size: 1.3rem;
  color: $color-grey-dark;
  border: 2px solid white;
  opacity: 0;
  transition: all 1s;
  text-align: center;
  background-color: $color-pink-bright;
  padding: 1rem;
}

@media screen and (max-width: 520px) {
  .form_body {
    flex-direction: column;
  }

  .form_body--item.left {
    margin-bottom: 30px;
  }

  .form_title {
    flex-direction: row;
  }

  .form_title span {
    margin-right: 12px;
  }

  .form_title:after {
    display: none;
  }
}

@media screen and (max-width: 600px) {
  .form_body {
    padding: 40px;
  }

  .form_body--item {
    padding: 0;
  }
}

// height: 100vh;
// background-color: $color-pink-dark;
// position: relative;

// &_layout {
//   position: absolute;
//   top: 50%;
//   left: 50%;
//   transform: translate(-50%, -50%);
//   background-color: $color-grey-dark;
//   height: 70rem;
//   width: 80%;
// }
// &_heading {
//   font-size: 5rem;
//   color: $color-pink-dark;
//   padding: 1rem;
//   margin-bottom: 2rem;
// }
// &_info {
//   display: grid;
//   height: 70%;
//   grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));

//   &--details {
//     padding: 5rem 0;
//     display: grid;
//     justify-content: center;
//     align-content: center;
//     font-size: 2rem;
//     color: $color-grey-light;
//   }
//   &--message {
//     background-color: $color-pink-dark;
//     height: 100%;
//   }
// }
