.footer {
  height: 10rem;
  background-color: $color-grey-dark;
  display: flex;
  justify-content: center;
  align-items: center;

  &_text {
    color: $color-pink-bright;
    font-size: 1.5rem;
    font-family: $font-primary;
    &--name {
      a {
        color: $color-grey-light;
        font-size: 1.8rem;
        text-decoration: none;
        transition: all 0.5s;

        &:hover {
          color: $color-pink-dull;
        }
      }
    }
  }
}
