.header {
  position: absolute;
  width: 100vw;
  height: 100vh;
  background-color: $color-grey-dark;
  font-family: $font-primary;

  &_text {
    color: $color-pink-bright;
    height: 40%;
    // border: 2px solid white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 10rem;
    h1 {
      font-family: "Luckiest Guy", cursive;
      font-size: 8rem;
    }
    h3 {
      font-size: 5rem;
      margin-bottom: 4rem;
      font-family: $font-primary;
      color: $color-pink-dark;
    }
    &--profession {
      padding: 1rem;
      color: $color-pink-bright;
      & > .txt {
        border-right: 2px solid $color-grey-light;
      }
    }
  }

  &_downarrow {
    font-size: 6rem;
    color: $color-grey-light;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 45vh;

    & > i {
      animation: floats 4s ease-in-out infinite;
    }
  }
}
