.header {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: $color-grey-dark;
  font-family: $font-primary;
  // border: 2px solid blue;

  &_text {
    color: $color-pink-bright;
    // border: 2px solid yellow;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding-left: 13rem;

    @include respond(phone) {
      // width < 600?
      padding-left: 0;
      text-align: center;
    }
    &--social {
      margin-bottom: 3rem;
      display: none;
      @include respond(phone) {
        // width < 600?
        display: block;
      }
    }
    &--icons {
      list-style: none;
      display: flex;
      font-size: 3.5rem;
      justify-content: center;
    }
    &--icon {
      padding-right: 2rem;
      cursor: pointer;
      & > a {
        text-decoration: none;
        color: $color-grey-light;

        transition: all 0.5s;
        &:hover {
          color: $color-pink-bright;
        }
      }
    }
    h1 {
      font-family: "Luckiest Guy", cursive;
      font-size: 6rem;
      padding-bottom: 0.5rem;
      @include respond(phone) {
        // width < 600?
        font-size: 5rem;
      }
      @include respond(phone-sm) {
        // width < 400?
        font-size: 4rem;
      }

      // border: 2px solid red;
    }
    h3 {
      font-size: 4rem;
      margin-bottom: 1rem;
      font-family: $font-primary;
      color: $color-pink-dark;
      padding-bottom: 2rem;
      // border: 2px solid green;
    }
    h4 {
      font-size: 2.2rem;
      color: $color-pink-dull;
      @include respond(phone) {
        // width < 600?
        margin-bottom: 1rem;
      }
    }
    &--profession {
      padding: 1rem;
      color: $color-pink-bright;
      & > .txt {
        border-right: 4px solid $color-grey-light;
      }
    }
  }

  &_downarrow {
    font-size: 4rem;
    color: $color-grey-light;
    text-align: center;
    // border: 2px solid white;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 90%;
    left: 50%;

    & > .icon-down-open {
      animation: floats 2s ease-in-out infinite;
    }
  }
}
