.btn {
  // border: 1px solid yellowgreen;
  width: 50%;
  font-size: 2rem;
  text-decoration: none;
  padding: 1rem 1rem;
  border-radius: 0.5rem;
  text-align: center;
  &_header {
    background-color: $color-pink-dark;
    color: $color-grey-dark;
    font-weight: 800;
    font-family: $font-primary;
    border: 0.4rem solid $color-pink-dark;
    transition: all 0.3s;
    &:hover {
      background-color: $color-grey-dark;
      color: $color-pink-dark;
      border: 0.4rem solid $color-pink-dull;
    }
  }
}
